/******NAV*****/
/*navbar layout and style*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Cabin', sans-serif;
}

/*navbar brand text style*/
.brand-title{
    font-size: 1.5rem;
    padding: .6rem;
}

.brand-title a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.brand-title:hover{
    background-color: #555;
}

/*navbar links layout*/
.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

/*navbar links style*/
.navbar-links li{
    list-style-type: none;
}

.navbar-links li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover{
    background-color: #555;
}

/*toggle button style*/
.toggle_button{
    position: absolute;
    right: 0rem;
    padding: .5rem;
    display: none;
}

.toggle_button:hover{
    background-color: #555;
}

/*navbar adjustment 481px — 768px*/
@media screen and (max-width: 768px) {
    /*Navbar*/
    /*nav toggle button appear*/
    .toggle_button{
        display: block;
    }

     /*nav links disappear*/
    .navbar-links{
        display: none;
        width: 100%;
    }

    /*navbar layout is change to veritcal*/
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    /*navbar link layout is change to veritcal*/
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }

    /*navbar link align center*/
    .navbar-links li{
        text-align: center;
    }

    /*navbar link text padding*/
    .navbar-links li a{
        padding: 2%;
    }

    /*navbar link appear in veritcal layout when toggle button is clicked*/
    .navbar-links.active{
        display: flex;
    }
}