/*OVERALL ADJUSTMENT FOR LAYOUT*/
*{
    margin: 0;
}

body{
    background-color: #333;
}

/*Adjust fonts size*/
h1{
    font-size: 3rem;
}

p{
    font-size: large;
}


/*Set style for button */
button{
    padding: 20px 60px;
    border: transparent;
    background-color: orange;
    border-radius: 5px;
    font-size:large;
}

/*margin between texts & buttons*/
p,h1,h2,button{
    margin: 15px;
    font-family: 'Cabin', sans-serif;
}

/*button style*/
button {
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: transparent;
    color: white;
    background-color: #5cb85c;
}

/*Change Banner,feature1 & feature2 display to flex*/
.banner,.feature1 .container,.feature2 .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/*split screen 1/2 (1025px & above)*/
.left-content,.right-content{
    width: 50%;
}

/*elements in intro & feature 3 section are align to center*/
.intro,.feature3{
    text-align: center;
}

/*Set a max width & some paddings to class banner & container*/
.banner,.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 0px;
}

/*NAVBAR*/
/*navbar layout and style*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Cabin', sans-serif;
}

/*navbar brand text style*/
.brand-title{
    font-size: 1.5rem;
    padding: .6rem;
}

.brand-title a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.brand-title:hover{
    background-color: #555;
}


/*navbar links layout*/
.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

/*navbar links style*/
.navbar-links li{
    list-style-type: none;
}

.navbar-links li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover{
    background-color: #555;
}

/*toggle button style*/
.toggle_button{
    position: absolute;
    right: 0rem;
    padding: .5rem;
    display: none;
}

.toggle_button:hover{
    background-color: #555;
}

/*HEADER SECTION*/
header{
    background-color: #1C2833;
}

header p, header h1 {
    color: white;
}

/*Set a size for banner image*/
.banner img{
    width: 500px;
}

/*INTRO SECTION*/
.intro{
    background-color:#FBEEE6 ;
}

.intro p,.feature3 p{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/*Set a size for intro image*/
.intro img{
    width: 600px;
}


/*FEATURE 1 SECTION*/
.feature1{
    background-image: url("https://static.vecteezy.com/system/resources/previews/001/576/507/original/abstract-flat-solid-color-background-free-vector.jpg");
    background-size: cover;
    background-attachment: fixed;
}

/*color*/
.feature1 p, .feature1 h1 {
    color: white;
}

/*Change the layout of all courses side to side */
.feature1 .right-content{
    display: flex;
    flex-wrap: wrap;
}

/*set the width of each course to 50%*/
.feature1 .right-content div{
    width: 46%;
    margin: 2%;
    padding: 40px 0px;
    border-radius: 10px;
    background-color: white;
    display: flex; /*change the layout of text and image side to side*/
}

/*Set a width for each image course*/
.feature1 .right-content img{
    width: 100px;
}

/*Set padding for image and h2 inside course*/
.feature1 .right-content img,.feature1 .right-content h2{
    padding: 0% 4%;

}

/*FEATURE2 SECTION*/
.feature2{
    background-color:#48C9B0 ;
}

/*FEATURE3 SECTION*/
.feature3{
    background-color:#6495ED ;
    /*background-image: url("https://cdn.macstories.net/icons1529553323730-1637678091349.png");*/
    background-image: url("https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/619150/3bb00cbe95127f2fe36c85a33cfe69f4e5911234.jpg");
    background-size: cover;
    background-attachment: fixed;
}

/*title color*/
.feature3 h1,.feature3 p{
    color: white;
}

/*data title color*/
.feature3 .database h1{
    color: cyan;
}

/*Change the layout of database to side by side*/
.database{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    padding-top: 40px;
}


/*Responsive*/
/*small screens like laptop 769px — 1024px*/
@media screen and (max-width: 1024px) { 
    /*split section*/
    .left-content,.right-content{
        width: 100%;
        text-align: center;
    }

    /*FEATURE 1*/
    /*set layout of course to 2x1 and center align it*/
    .feature1 .right-content div{
        align-items: center;
        flex-direction: column;
    }

    /*Set a size for feature1 course image*/
    .feature1 .right-content img{
        width: 80px;
    }

    /*set h2 a padding top*/
    .feature1 .right-content div h2{
        padding-top: 4%;
    }

    /*FEATURE3*/
    /*Change the layout of database 2x2*/
    .database div{
        width: 50%;
    }
}

/*iPads & tablets 481px — 768px*/
@media screen and (max-width: 768px) { 

    /*Navbar*/
    /*nav toggle button appear*/
    .toggle_button{
        display: block;
    }

     /*nav links disappear*/
    .navbar-links{
        display: none;
        width: 100%;
    }

    /*navbar layout is change to veritcal*/
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    /*navbar link layout is change to veritcal*/
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }

    /*navbar link align center*/
    .navbar-links li{
        text-align: center;
    }

    /*navbar link text padding*/
    .navbar-links li a{
        padding: 2%;
    }

    /*navbar link appear in veritcal layout when toggle button is clicked*/
    .navbar-links.active{
        display: flex;
    }

    /*Set banner & container of each section width to 1200px and padding top & Ebottom 80px*/
    .banner,.container{
        padding: 80px 60px;
    }

    /*set size for Header img*/
    .banner img{
        content: url("https://web-mobile-first.s3.eu-west-3.amazonaws.com/production/small_samsung_galaxy_tab_s7_74dbd026ab.png");
        width: 300px;
    }

    /*INTRO SECTION*/
    /*Set a size for intro image*/
    .intro img{
        width: 400px;
    }

    /*Set a size for feature1 course image*/
    /*FEATURE1*/
    .feature1 .right-content img{
        width: 60px;
    }


    /*FEATURE2*/
    .feature2 img{
        width: 400px;
    }

    /*FEATURE3*/
    /*Change the layout of database 4x1*/
    .database div{
        width: 100%;
    }
}

/*Mobile devices 320px — 480px*/
@media screen and (max-width: 480px) {

    /*Adjust fonts size*/
    h1{
        font-size: 2.5rem;
    }

    /*Set banner & container of each section width to 1200px and padding top&bottom 80px*/
    .banner,.container{
        padding: 80px 10px;
    }

    /*set size for Header img*/
    .banner img{
        content: url("https://cdn.pixabay.com/photo/2019/09/30/10/58/iphone-x-4515390_960_720.png");
        width:100%;
    }

    /*INTRO SECTION*/
    /*Set a size for intro image*/
    .intro img{
        width:100%;
    }

    /*FEATURE 1*/
    /*set the width of each course to 100%*/
    .feature1 .right-content div{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        padding: 20px 0px;
        align-items: center;
        flex-direction: column;
    }

    /*Set a width for each image course*/
    .feature1 .right-content img{
        width: 25%;
    }

    /*FEATURE2*/
    .feature2 img{
        width: 100%;
    }

    /*Change the size of the button*/
    button{
        padding: 20px 20px;
    }
}
