/******OVERALL ADJUSTMENT FOR LAYOUT******/
*{
    margin: 0;
}

body{
    background-color: #333;
}

/*Adjust fonts size*/
h1{
    font-size: 3rem;
}

h2{
    font-size: 1.5rem;
}

p{
    font-size: 1.0rem;
}

/*margin between texts*/
p,h1,h2,h3,.details{
    margin: 15px;
    font-family: 'Cabin', sans-serif;
}

/*Set style for button */
button{
    width: 100%;
    padding: 20px 0px;
    border: transparent;
    background-color: #85C1E9;
    border-radius: 5px;
    font-size:medium;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    color: white;
    background-color: #5cb85c;
}

button a {
    text-decoration: none;
    color: black;
}

/*Change layout of Banner section*/
.banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*Set a max width & some paddings to class banner*/
.banner,.lesson_summary{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 0px;
}

/******HEADER/BANNER SECTION******/
/*header/banner section bg color*/
header{
    background-color: #D4E6F1 ;
}

/*text color*/
header p, header h1{
    color: #283747;
}

/*left-right banner screen 1/2 (1025px & above)*/
.left-content,.right-content{
    width: 50%;
}

/*right banner content style*/
header .right-content{
    text-align: center;
}

/***left-content***/
/*Course details layout arrangement*/
.details,.chapters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/*Course details img*/
.banner .details img {
    width: 20px;
}

/*Course tag layout arrangement & style*/
.duration,.courseType,.review{
    display: flex;
    align-items: center;
    background-color: #212F3C;
    padding: 8px 2%;
    border-radius: 4px;
    margin: 15px;
    margin-left: 0px;
}

.duration p,.courseType p,.review p{
    color: white;
}
/*Course tag text p layout arrangement & style*/
.duration p,.courseType p,.review p{
 margin: 0px 8px;
 font-size: small;
}

/***right-content***/
.banner img{
    width: 500px;
}

/******MAINCONTENT/lesson_summary******/
/*background color for main section*/
main{
    background-color: rgb(237, 242, 245);
}

/*style for maincontent h1*/
main h1{
    margin-bottom: 4%;
}

/***title***/
/*center align title of the lesson summary*/
.title{
    text-align: center;
}

/***CHAPTERS***/
/*Layout of all lesson in chapter*/
.chapters{
    justify-content: start;
}

/*style lesson into a card holder*/
.lesson{
    background-color: white;
    border-radius: 5px;
    width: 43%;
    margin: 1% 1%;
    padding: 20px 2%;
    border: 1px solid #EAECEE ;
}

/*margin between texts & btn in lesson*/
.lesson p, .lesson h2, .lesson button{
    margin: 10px 0px;
}

/*Free version styling*/
.free .versiontag{
    font-weight: bold;
    background-color: #5cb85c;
    padding: 1%;
    border-radius: 4px;
}

/*Premium version styling*/
.premium .versiontag{
    font-weight: bold;
    background-color: #FFBF00;
    padding: 1%;
    border-radius: 4px;
}

/*default height for lesson description*/
.description{
    height: 20vh;
}

/******Responsive******/
/*small screens like laptop 769px — 1024px*/
@media screen and (max-width: 1024px) { 

    .banner,.lesson_summary{
        padding: 4% 8%;
    }

    /******HEADER/BANNER SECTION******/
    /*left-right banner screen 1/1*/
    .left-content,.right-content{
        width: 100%;
        text-align: center;
    }

    /***Right content***/
    /*Banner style adjust*/
    .right-content{
        margin-top: 4%;
    }

    /***Left content***/
    /*details layout arrangement*/
    .details{
        justify-content: center;
    }

    /*Course tag layout arrangement & style*/
    .duration,.courseType,.review{
        margin-right: 0%;
        margin: 1%;
    }

    /******MAIN SECTION/******/
    /***CHAPTERS***/
    /*style lesson into a card holder*/
    .lesson{
        width: 100%;
        margin: 2% 0%;
        padding: 20px 4%;
    }
}

/*iPads & tablets 481px — 768px*/
@media screen and (max-width: 768px) { 
    /*Adjust fonts size*/
    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 1.5rem;
    }

    p{
        font-size: 1.0rem;
    }

    /******HEADER/BANNER SECTION******/
    .banner .right-content img{
        width: 80%;
    }

    /*Course tag layout arrangement & style*/
    .duration,.courseType,.review{
        margin: 1%
    }

    /***CHAPTERS***/
    /*default height for lesson description*/
    .description{
        height: 100%;
    }
}

/*Mobile devices 320px — 480px*/
@media screen and (max-width: 480px) {
    /*Adjust fonts size*/
    h1{
        font-size: 1.8rem;
    }

    h2{
        font-size: 1.3rem;
    }

    p{
        font-size: .9rem;
    }

    /*Set style for button */
    button{
        font-size:small;
    }

    /******HEADER/BANNER SECTION******/
    /***Left content***/
    /*Course tag layout arrangement & style*/
    .duration,.courseType,.review{
        margin: 2%;
    }

    /***CHAPTERS***/
    /*style lesson into a card holder*/
    .lesson{
        margin: 4% 1%;
        padding: 20px 8%;
    }

    /*Free & premium version padding*/
    .free .versiontag,.premium .versiontag{
        padding: 1% 2%;
    }
}
