/******OVERALL ADJUSTMENT FOR LAYOUT******/
*{
    margin: 0;
}

body{
    background-color: #333;
}

/*Adjust fonts size*/
h1{
    font-size: 3rem;
}

h2{
    font-size: 1.8rem;
}

p{
    font-size: 1.0rem;
}

/*margin between texts*/
p,h1,h2,h3,.subtitle{
    margin: 15px;
    font-family: 'Cabin', sans-serif;
}

/*Change layout of Banner, Category & Courses*/
.banner,.category,.courses{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*Set a max width & some paddings to class banner & maincontent*/
.banner,.maincontent{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 0px;
}

.banner{
    padding: 200px 0px;
}

/*Set style for button */
button{
    width: 100%;
    padding: 20px 0px;
    border: transparent;
    background-color: #85C1E9;
    border-radius: 5px;
    font-size:medium;
    font-weight: bold;
    margin-top: 15px;
}

.btn:hover {
    cursor: pointer;
    color: white;
    background-color: #5cb85c;
}

button a {
    text-decoration: none;
    color: black;
}

/******HEADER/BANNER SECTION******/
/*header/banner section bg color*/
header{
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    animation: change 7s ease-in-out infinite;
    position: relative;
    background-size: 400% 400%;
    height:100%;
}

@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

/*text color*/
header p, header h1{
    color: white;
}

/*left-content*/
.left-content{
    width: 100%;
    text-align: center;
}

/******MAIN SECTION******/
main{
    background-color: rgb(237, 242, 245);
}

/*Category*/
.category h3{
    padding: 10px 80px;
}

/*whole course*/
/*layout & style for courses*/
.courses{
    justify-content: start;
}

.courses a{
    text-decoration: none;
    color: black
}

.course{
    background-color: #FFFF;
    border-radius: 5px;
    width: 27.3%;
    margin: 1% 1%;
    padding: 40px 2%;
    height: 400px;
}

/*info h2, p style*/
.info p, .info h2{
    margin: 15px 0px;
}

/*INFO image size*/
.course .info img {
    width: 48px;
}

/*Detail layout*/
/*details p font weight*/
.details p{
    font-weight: bold;
}

.lesson,.courseType,.review{
    display: flex;
    align-items: center;
}

.course .details img {
    width: 32px;
}

.course {
    transition: transform .3s; /* Animation */
  }
  

/******Responsive******/
/*small screens like laptop 769px — 1024px*/
@media screen and (max-width: 1024px) { 

    .banner,.maincontent{
        padding: 4% 8%;
    }

    /******MainSection******/
    /*cateogry style*/
    .category{
        justify-content: space-around;
    }
    .category h3{
        padding: 10px 55px;
    }

    /*change course layout to 2 column*/
    .course{
        width: 44%;
        margin: 1% 1%;
        padding: 40px 2%;
    }
}

/*iPads & tablets 481px — 768px*/
@media screen and (max-width: 768px) { 
    /*Adjust fonts size*/
    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 1.5rem;
    }

    p{
        font-size: 1.0rem;
    }

    /******HEADER/BANNER SECTION******/
    .banner .right-content img{
        width: 80%;
    }

    /******MainSection******/
    /*cateogry style*/
    .category{
        text-align: center;
    }
    
    .category h3{
        width: 100%;
    }

    /*change course layout to 2 column*/
    .course{
        width: 100%;
        margin: 2.5% 0%;
        padding: 40px 5%;
    }
}

/*Mobile devices 320px — 480px*/
@media screen and (max-width: 480px) {
    /*Adjust fonts size*/
    h1{
        font-size: 1.8rem;
    }

    h2{
        font-size: 1.3rem;
    }

    p{
        font-size: .9rem;
    }
}




